<div class="collapse primary-color text-white" id="navbarToggleExternalContent">
  <div class="collapse navbar-collapse d-flex flex-column align-items-center" id="navbarTogglerDemo01">
    <h1 class="navbar-brand fs-3 fw-semibold mt-4 mb-3">Budget Manager</h1>
    <ul class="navbar-nav d-flex flex-column align-items-center me-auto mb-2 mb-lg-0 w-100">
      <li class="nav-item">
        <%= link_to "Categories", root_path, class: "nav-link active fs-6" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Categories", new_group_path, class: "nav-link active fs-6" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Transaction", new_spending_path, class: "nav-link active fs-6" %>
      </li>
    </ul>
    <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-danger mt-2" %>
  </div>
</div>
<nav class="navbar navbar-dark primary-color mb-4">
  <div class="container-fluid d-flex justify-content-between">
    <button class="menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, root_path %>
  </div>
</nav>